<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <!-- <link rel="stylesheet" type="text/css" href="/angular-materialize/css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/lodash/index.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/angular-materialize/src/angular-materialize.min.js"></script>
    <script src="/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/main.js"></script>
    <script src="/onload.js"></script>
</head>
<body ng-app="GyaoApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
