<div class="section">
  <!-- Shows Section   -->
  <div class="row">
    <div class="col s12 m12">

      <div class="col s12 m6 l4" ng-repeat="show in userData.shows">
        <div class="card">
          <a href="" ui-sref="singleShow({showId: show.id})">
            <div class="card-image">
              <img src="img/getsuyou.jpg">
              <span class="card-title">{{ show.name }}</span>
            </div>
          </a>
          <div class="card-content">
            <p>{{ show.showId }}</p>
          </div>
          <div class="card-action" ng-show="user">
            <a class="waves-effect waves-light btn red" ng-click="addToUserShows(show.id)">Remove</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
